.nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-area: n;
    background-color: aquamarine;
}

.menu {
    background-color: steelblue;
    margin: 10px 20%;
    text-align: center;
    border-radius: 10px;
    border: blue solid 1px;
    transition: background-color 1s;
}

.menu a {
    color: black;
    text-decoration: none;
}
.menu a:active {
    color: blue;
}

.menu:hover {
    background-color: deepskyblue;
}
