.content {
    grid-area: c;
    background-color: aliceblue;
}

.allPosts {
    border-radius: 5px;
    border: black double 3px;
    margin: 10px 10px;
}

.post {
    border-radius: 7px;
    text-align: center;
    border: gray solid 1px;
    margin: 5px;
    padding: 5px;
}
